// Generated using XcodeWarningsAsXcconfig
// https://github.com/guillaumealgis/XcodeWarningsAsXcconfig

// Apple Clang - Language
GCC_ENABLE_TRIGRAPHS = NO

// Apple Clang - Language - Modules
CLANG_ALLOW_NON_MODULAR_INCLUDES_IN_FRAMEWORK_MODULES = NO
CLANG_MODULES_DISABLE_PRIVATE_WARNING = YES

// Apple Clang - Others
CLANG_WARN_NULLABLE_TO_NONNULL_CONVERSION = YES
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO

// Apple Clang - Undefined Behavior Sanitizer
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_INTEGER = YES
CLANG_UNDEFINED_BEHAVIOR_SANITIZER_NULLABILITY = YES

// Apple Clang - Warnings - All languages
CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES_ERROR
CLANG_WARN_BOOL_CONVERSION = YES_ERROR
CLANG_WARN_COMMA = YES_ERROR
CLANG_WARN_CONSTANT_CONVERSION = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES_ERROR
CLANG_WARN_FLOAT_CONVERSION = YES_ERROR
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES_ERROR
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES_ERROR
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES_ERROR
CLANG_WARN_PRAGMA_PACK = YES_ERROR
CLANG_WARN_PRIVATE_MODULE = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES_ERROR
CLANG_WARN_SEMICOLON_BEFORE_METHOD_BODY = YES
CLANG_WARN_STRICT_PROTOTYPES = YES_ERROR
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES_ERROR
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES_AGGRESSIVE
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES_ERROR
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNKNOWN_PRAGMAS = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

// Apple Clang - Warnings - C++
CLANG_WARN_ATOMIC_IMPLICIT_SEQ_CST = YES
CLANG_WARN_CXX0X_EXTENSIONS = YES
CLANG_WARN_DELETE_NON_VIRTUAL_DTOR = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_VEXING_PARSE = YES_ERROR
CLANG_WARN__EXIT_TIME_DESTRUCTORS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES

// Apple Clang - Warnings - Objective C
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_MISSING_NOESCAPE = YES_ERROR
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_OBJC_INTERFACE_IVARS = YES_ERROR
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES_ERROR
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = NO
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

// Apple Clang - Warnings - Objective C and ARC
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = NO
CLANG_WARN__ARC_BRIDGE_CAST_NONARC = YES

// Apple Clang - Warnings - Warning Policies
GCC_TREAT_WARNINGS_AS_ERRORS = NO
GCC_WARN_INHIBIT_ALL_WARNINGS = NO
GCC_WARN_PEDANTIC = NO

// Static Analyzer - Analysis Policy
CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
RUN_CLANG_STATIC_ANALYZER = YES

// Static Analyzer - Generic Issues
CLANG_ANALYZER_DEADCODE_DEADSTORES = YES
CLANG_ANALYZER_MEMORY_MANAGEMENT = YES
CLANG_ANALYZER_NONNULL = YES
CLANG_ANALYZER_USE_AFTER_MOVE = YES_AGGRESSIVE

// Static Analyzer - Issues - Apple APIs
CLANG_ANALYZER_GCD = YES
CLANG_ANALYZER_GCD_PERFORMANCE = YES
CLANG_ANALYZER_LIBKERN_RETAIN_COUNT = YES
CLANG_ANALYZER_LOCALIZABILITY_EMPTY_CONTEXT = YES
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_ANALYZER_OBJC_COLLECTIONS = YES
CLANG_ANALYZER_OBJC_NSCFERROR = YES

// Static Analyzer - Issues - Objective C
CLANG_ANALYZER_OBJC_ATSYNC = YES
CLANG_ANALYZER_OBJC_DEALLOC = YES
CLANG_ANALYZER_OBJC_GENERICS = YES
CLANG_ANALYZER_OBJC_INCOMP_METHOD_TYPES = YES
CLANG_ANALYZER_OBJC_RETAIN_COUNT = YES
CLANG_ANALYZER_OBJC_SELF_INIT = YES
CLANG_ANALYZER_OBJC_UNUSED_IVARS = YES

// Static Analyzer - Issues - Security
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN = YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_VFORK = YES
CLANG_ANALYZER_SECURITY_KEYCHAIN_API = YES

// Static Analyzer - Others
CLANG_ANALYZER_ALTERNATE_EDGES = YES
CLANG_ANALYZER_MALLOC = YES
CLANG_ANALYZER_REPORT_MAIN_SOURCE_FILE = YES

// Swift Compiler - Warnings Policies
SWIFT_SUPPRESS_WARNINGS = NO
SWIFT_TREAT_WARNINGS_AS_ERRORS = NO

// Clang Analyzer Flags
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.BoolAssignment
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.CallAndMessageUnInitRefArg
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.CastSize
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.CastToStruct
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.Conversion
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.DynamicTypeChecker
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.FixedAddr
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.IdenticalExpr
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.PointerArithm
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.PointerSub
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.SizeofPtr
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.StackAddressAsyncEscape
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.core.TestAfterDivZero
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.cplusplus.DeleteWithNonVirtualDtor
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.cplusplus.InvalidatedIterator
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.cplusplus.IteratorRange
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.cplusplus.MismatchedIterator
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.cplusplus.UninitializedObject
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.llvm.Conventions
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.osx.cocoa.DirectIvarAssignment
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.osx.cocoa.DirectIvarAssignmentForAnnotatedFunctions
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.osx.cocoa.InstanceVariableInvalidation
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.osx.cocoa.MissingInvalidationMethod
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.osx.cocoa.localizability.PluralMisuseChecker
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.security.ArrayBound
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.security.ArrayBoundV2
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.security.MallocOverflow
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.security.MmapWriteExec
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.security.ReturnPtrRange
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.security.taint.TaintPropagation
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.BlockInCriticalSection
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.Chroot
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.PthreadLock
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.SimpleStream
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.Stream
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.cstring.BufferOverlap
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.cstring.NotNullTerminated
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang alpha.unix.cstring.OutOfBounds
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang apiModeling.StdCLibraryFunctions
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang apiModeling.TrustNonnull
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang apiModeling.google.GTest
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.CallAndMessage
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.DivideZero
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.DynamicTypePropagation
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.NonNullParamChecker
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.NonnilStringConstants
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.NullDereference
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.StackAddressEscape
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.UndefinedBinaryOperatorResult
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.VLASize
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.builtin.BuiltinFunctions
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.builtin.NoReturnFunctions
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.uninitialized.ArraySubscript
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.uninitialized.Assign
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.uninitialized.Branch
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.uninitialized.CapturedBlockVariable
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang core.uninitialized.UndefReturn
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang cplusplus.InnerPointer
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang cplusplus.Move
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang cplusplus.NewDelete
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang cplusplus.NewDeleteLeaks
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang cplusplus.SelfAssignment
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang deadcode.DeadStores
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang nullability.NullPassedToNonnull
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang nullability.NullReturnedFromNonnull
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang nullability.NullableDereferenced
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang nullability.NullablePassedToNonnull
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang nullability.NullableReturnedFromNonnull
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang optin.cplusplus.VirtualCall
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang optin.mpi.MPI-Checker
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang optin.performance.Padding
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang optin.portability.UnixAPI
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.API
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.NumberObjectConversion
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.OSObjectRetainCount
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.ObjCProperty
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.SecKeychainAPI
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.AtSync
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.AutoreleaseWrite
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.ClassRelease
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.Dealloc
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.IncompatibleMethodTypes
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.Loops
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.MissingSuperCall
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.NSAutoreleasePool
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.NSError
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.NilArg
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.NonNilReturnValue
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.ObjCGenerics
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.RetainCount
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.RunLoopAutoreleaseLeak
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.SelfInit
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.SuperDealloc
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.UnusedIvars
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.cocoa.VariadicMethodTypes
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.coreFoundation.CFError
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.coreFoundation.CFNumber
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.coreFoundation.CFRetainRelease
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.coreFoundation.containers.OutOfBounds
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang osx.coreFoundation.containers.PointerSizedValues
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang security.insecureAPI.bcmp
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang security.insecureAPI.bcopy
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang security.insecureAPI.bzero
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.API
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.Malloc
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.MallocSizeof
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.MismatchedDeallocator
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.Vfork
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.cstring.BadSizeArg
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang unix.cstring.NullArg
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang valist.CopyToSelf
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang valist.Uninitialized
WAX_ANALYZER_FLAGS = $(inherited) -Xclang -analyzer-checker -Xclang valist.Unterminated

WARNING_CFLAGS = $(inherited) $(WAX_ANALYZER_FLAGS)
